<% include ../partials/header %>

<body>
<form action="/websites/<%=website.id%>?_method=put"method="POST" >
  <label for="website">correct your URL: </label>
  <input type="text"name="website[url]"id="website"/>
  <input type="submit"value="Submit"/>
</form>
<% include ../partials/footer %>