<% include ../partials/header %>
<body>
  <div class='container-fluid' class='col-md-5'>
    <table class='table'>
      <tbody class='table-striped'>
      <%  websites.forEach(function(website){ %>
        <tr><td><a href="/websites/<%=website._id%>/"><%= website.url %></a><form action="/websites/<%=website.id%>?_method=DELETE" method="POST">
      <input type='submit'class="btn btn-danger"value="DELETE">
    </form>
        </td></tr>
      <% }); %>
      </tbody>
    </table>
  </div>
  <br>
  <button><a href="/websites/new">Check a new website</a></button>
  <br>
<% include ../partials/footer %>