<% include ../partials/header %>

<h3>enter the website you'd like to analyze</h3>
 <p>To check a new website, begin with 'http' followed by the address.
      for example:
      <br>
      <b>http://jonlanman.com</b>

    </p>

<form method="POST" action="/websites">
  <label for="website">Full URL: </label>
  <input type="text"name="website[url]"id="website"/>
  <input type="submit"value="Submit"/>
</form>
<br>

<h3> enter the keywords you want to check against your website </h3>
<form type="POST" action="">
  <label for="keyword">Keywords: </label>
  <input type="text" name="keyword"/>
  <input type="text" name="keyword"/>
  <input type="text" name="keyword"/>
  <input type="text" name="keyword"/>
  <input type="text" name="keyword"/>
  <input type="submit" value="Submit"/>
</form>

<% include ../partials/footer %>
