<h1><%= website.url %></h1>
<form action="/websites/<%=website.id%>?_method=DELETE" method="POST">
  <input type='submit'value="DELETE">
</form>
<a href="/websites/<%=website.id%>/edit">edit your webpage</a>
<br>
<h2>Link Data: </h2>

<body>
  <p> Your websites' number of Authority-passing backlinks, including followed links and 301 (permanent) redirects:  <%= website.link[0].ueid %>
  </p>


</body>


