
<form method="POST"action'/users/login'>
  <label for "username">Username</label>
  <input type= 'text' id="username"name="user[username]"></input>
  <label for "password">Password</label>
  <input type='password'id="password"name='user[password]'></input>
  <input type='submit' value='Login'</input>
</form>


<a href= '/users/signup'>sign up for SEO Checker</a>